*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* logo */
.logo{
  font-size: 30px;
}
/* navigation link */
.container{
  min-width: 100%;
  -webkit-box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.5)
}
.nav-container{
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: 100px;
}
.nav-link-text{
  color: #25262A;
}
.nav-link-text:hover{
  transition:  all .4s ease-in-out;
  color:#115DFC;
}
.navLink ul{
  display: flex;
}
.navLink li{
  list-style-type: none;
  padding: 0 0 0 1rem;
}

.navLink a{
  font-size: 30px;
  text-decoration: none;
}

.nav-link01 ul{
  display: flex;
}
.nav-link01 li{
  list-style-type: none;
  padding: 0 0 0 1rem;
}
.nav-link01 a{
  font-size: 30px;
  text-decoration: none;
}
/* sign in */
.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 5rem auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

.create-account-span{
 color: #8B8E98;
}
.sign-btn-link{
  text-decoration: none;
}
.create-account-span02{
  color: #8B8E98;
  margin-left: .4rem;
}
.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
  border: 1px solid #F7F7F8;
  filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8B8E98;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  color: #000;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #115DFC;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8B8E98;
  text-decoration: underline;
}

/* Home */
.Trending{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}
.title-arrivals{
  border: 1px solid black;
  padding: .3rem;
  max-width: 350px;
  border-top-right-radius: 11px;
  border-bottom-right-radius:11px;
  background-color:#25262A;
  color: #efefef;
  transform:rotate(-15deg);
  z-index: 3;
}
.payday-sale{
  background: url('./assets/leone-venter-mTkXSSScrzw-unsplash.jpg');
  min-width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  position: relative;
}
.payday-container{
  padding: 1rem;
  position: absolute;
  bottom: 280px;
}

.sale-now{
  border-radius: 10px;
  max-width:300px;
  padding: .5rem;
  margin-bottom: .5rem;
  background-color:black;
  transform:rotate(-5deg);
  box-shadow: 15px 0px 0px -3px rgba(0,0,0,0.1);
}
.payday,
.sale{
  color: #ccc;
  font-size: 44px;
}
.spend-container{
  background-color: #25262A;
  max-width: 600px;
  border-radius: 10px;
  padding: .5rem;
  transform:rotate(5deg);
  box-shadow: 17px 0px 0px -6px rgba(0,0,0,0.1);
}
/* .offer{

}
.offer-deadline{

} */
.date-offer,
.spend-mini,
.term-offer{
  color: #e5e5e5;
}



.showNow-btn{
  background-color: #115DFC;
  max-width: 110px;
  padding: .4rem .5rem;
  border-radius: 5px;
  text-decoration: none;
}
.offer-btn{
  color: #e5e5e5;
  text-decoration: none;
}
/* products card */

.productCard-container{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns:1fr repeat(1, minmax(auto, 60px)) 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.product-card {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}

.product-card__image {
  max-width: 250px;
  height: auto;
}

.product-card__description,
.product-card__price,
.product-card__brand {
  margin: 0.2rem 0;
  font-size: 1rem;
}

.product-card__brand {
  font-weight: bold;
  text-transform: uppercase;
}

.product-card__description {
  font-weight: normal;
}

.product-card__price {
  font-weight: bold;
}

.product-card__btn-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  padding: 12px 10px 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}

.product-card__btn-wishlist svg {
  fill: lightgrey;
}
.addcart-in_btn{
  text-decoration: none;
  background-color:#115DFC;
  border: none;
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin-top: .5rem;
}

.addcart-in_btn span{
  padding:  0 .8rem 0 0;
}
/* sepreate product style section */
.product-details-container{
  max-width: 1300px;
  height: 100vh;
  overflow: hidden;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
.img-details{
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1rem 1rem;
}
.product-img{
  position: absolute;
  right: 0;
  width:100%;
  margin: 1.5rem .5rem;
  object-fit:contain;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}
.product-detail-title{
  padding-left: .5rem;
}
.product-content{
  margin: 2rem 0;
}
.product-details-description,
.product-content,
.buy-now-btn,
.product-price,
.description-title-content{
  padding-left: .5rem;
}
.buynow-in_btn,
.addcart-product-in_btn{
  padding:  0 .8rem 0 0;
  text-decoration: none;
  background-color:#115DFC;
  border: none;
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
}
.buynow-in_btn span,
.addcart-product-in_btn span{
  padding:  0 .8rem 0 0;
}
.product-price{
  font-size: 22px;
  font-weight: bold;
}
.description-forProduct{
  max-width:100%;
  min-height: 200px;

}
.description-title-content{
  margin: 2rem  0 0 0;
  font-size: 40px;
}
.description-content{
  margin: 0;
  padding: .5rem;
  font-size: 22px;
  line-height: 32px;
}
/* add cart section */
.title-heading{
  text-align: center;
  padding: 1rem;
  color: #115DFC;
  font-weight:700;
  width: max-content;
  border-radius: 10px;
  margin:1rem 0 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.shopping-cart{
  min-width: 100%;
  min-height: 100vh;

}
.shopping-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.image-container-shopping{
  max-width: 400px;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.shopping-cart-image{
width: 100%;
height: 200px;
object-fit:cover;
cursor: pointer;
}
.shopping-cart-image:hover{
  object-fit: contain;
}
.shopping-cart-description{
  margin-top: 3.4rem;
  text-align: center;
}
.quantity-items-btn{
  margin-top: 4rem;
  text-align: center;
}
.shopping-cart-price{
  margin-top: 2.5rem;
  text-align: center;
}
.shopping-cart-buy-btn{
  margin-top: 2.5rem;
  text-align: center;
}
.shopping-cart-heading{
 color: #242424;
}
.shopping-cart-content{
color:#8B8E98;
}

.items-plus,
.items-minus,
.place-your-order{
padding:  0 .8rem 0 0;
  text-decoration: none;
  background-color:#115DFC;
  border: none;
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
}
.shopping-pricing{
  font-size: 40px;
  margin-top: 1.2rem;
}
.place-your-order{
  margin-top: 1.5rem;
  font-size: 20px;
}
.count-items{
  font-size: 30px;
  padding: 0 1.5rem;
  color: #8B8E98;
}
.shopping-cart-heading{
margin: 0;
font-size: 50px;
}
.shopping-cart-content{
margin: 0;
font-size: 26px;
}
.quantity{
margin-top: .8rem;
}
.quantity-items{
 font-size: 26px;
}
.quantity-items span{
  margin-left: 1rem;
}
/* footer */
.footer-distributed{
	background: rgb(0, 0, 0);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */
.footer{
  width: 100%;
  background: #25262A;
  color: #fff;
  padding: 50px 20px;
}
.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-container h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background: #fff;
  margin-top: 20px;
}
.footer-container li a:hover {
  color: lightblue;
  transition: all 0.5s ease;
}
.col-1 {
  flex-basis: 30%;
  padding: 10px;
  margin-bottom: 20px;
}
.col-1 img {
  width: 55px;
  margin-bottom: 15px;
}
.col-1 p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}
.col-2 {
  flex-basis: 15%;
  padding: 10px;
  margin-bottom: 20px;

}
.col-2 h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
.col-2 ul {
  list-style: none;
}
.col-2 ul li {
  margin-bottom: 10px;
}
.col-2 ul li a {
  color: #fff;
  text-decoration: none;
}
.col-3 {
  flex-basis: 15%;
  padding: 10px;
  margin-bottom: 20px;
}
.col-3 h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
.col-3 ul {
  list-style: none;
}
.col-3 ul li {
  margin-bottom: 10px;
}
.col-3 ul li a {
  color: #fff;
  text-decoration: none;
}
.col-4 {
  flex-basis: 20%;
  padding: 10px;
  margin-bottom: 20px;
}
.col-4 h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
form .far{
  color: #ccc;
  margin-right: 10px;
}
form input{
  background: transparent;
  width: 100%;
  border: none;
  color: #fff;
  outline: none;
}
form button{
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.social-icons{
  margin-top: 50px;
}
.social-icons a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #fff;
  color: #25262A;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.social-icons a:hover{
  background: lightblue;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-2{
  width: 100%;
  background: #25262A;
  color: #fff;
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}